
<div class="col-lg-4">
    <form class="mb-30" action="/ShoppingCart/ApplyCoupon">
        <div class="input-group">
            <input type="text" name="code" class="form-control border-0 p-4" placeholder="Coupon Code">
            <div class="input-group-append">
                <button class="btn btn-primary">Apply Coupon</button>
            </div>
        </div>
    </form>
    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Cart Summary</span></h5>
    <div class="bg-light p-30 mb-5">
        <div class="border-bottom pb-2">
            <div class="d-flex justify-content-between mb-3">
                <h6>Subtotal</h6>
     
                <h6>$@((TempData["Total"] as ResultTotalDTO).Subtotal)</h6>
            </div>
            <div class="d-flex justify-content-between">
                <h6 class="font-weight-medium">Shipping</h6>
                <h6 class="font-weight-medium">$@((TempData["Total"] as ResultTotalDTO).Shipping)</h6>
            </div>
        </div>
        <div class="pt-2">
            <div class="d-flex justify-content-between mt-2">
                <h5>Total</h5>
                <h5>$@((TempData["Total"] as ResultTotalDTO).Total)</h5>
            </div>

            <div class="d-flex justify-content-between mt-2">
                <h5>Discount Total</h5>
                <h5>$@((TempData["Total"] as ResultTotalDTO).DiscountTotal)</h5>
            </div>
            <a href="/Order/Index" class="btn btn-block btn-primary font-weight-bold my-3 py-3">Proceed To Checkout</a>
        </div>
    </div>
</div>