@model List<ResultCompanyDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Layout/Index.cshtml";
    int count = 0;
    //hghgh
}

<div class="col-md-12">
    <div class="chart-box">
        <h4>Category Table</h4>
        <p>Add <code>.table-bordered</code> for borders on all sides of the table and cells.</p>
        <div class="bs-example" data-example-id="bordered-table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Company name</th>


                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model is not null)
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@(++count)</th>
                                <td>@item.Name</td>

                                <td><a href="/admin/CargoCompany/Update?id=@item.Id" class="btn btn-primary">Update</a></td>
                                <td><a href="/admin/CargoCompany/Delete?id=@item.Id" class="btn btn-danger">Delete</a></td>
                            </tr>
                        }

                    }




                </tbody>
            </table>
            <a href="/admin/CargoCompany/Create" class="btn btn-primary">Create</a>
        </div>
    </div>
</div>