@model List<ResultImageDTO>
@{
    ViewData["Title"] = "AddImages";
    Layout = "~/Areas/Admin/Views/Layout/Index.cshtml";

}

<form action="/Admin/Product/AddImages" method="post" enctype="multipart/form-data">
    <label for="files">Select files:</label>
    <input type="hidden" name="productId" value="@ViewBag.id" />
    <input type="file" id="formFiles" name="formFiles" multiple><br><br>
    <input type="submit" value="Add" />
</form>
<br />
-------------------------------------------------
<div class="p_img">
    @if (Model is not null)
    {
        @foreach (var item in Model)
        {
            <img style="width:100px;height:100px; border:1px solid #ccc;" src="@item.Base64" />
        }

    }
</div>

